/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    padding-bottom: 20px;
}

h4 {
    font-size: 120%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    color: #FFFFFF;
    background-color: #20328B;
    height: 200px;
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A7CA4;
    color: #FFFFFF;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 60px;*/
}

nav div a {
    padding: 20px 60px;
}

footer {
    color: #FFFFFF;
    background-color: #20328B;
}

footer #footer-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer #footer-lists div {
    padding: 20px 0;
}

footer div ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer #footer-copyright {
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    margin: 50px 200px;
}

main > p {
    font-size: 120%;
}

ul li a, a {
    color: #20328B;
}

ul li a:visited,
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.link-list {
    flex: 1;
    padding: 50px 400px;
    background-color: rgba(0, 0, 0, 0.03);
}

.link-list > p {
    padding: 20px;
}

.banner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 553px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*places a colour gradient over banner images*/
.gradient {
    display: inherit;
    flex-flow: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    width: 100%;
}

.banner p {
    text-align: center;
    font-size: x-large;
    padding: 0 250px;
}

#index-banner {
    background-image: url("media/images/banner.jpg");
    color: #FFFFFF;
}

#funding-banner {
    background-image: url("media/images/money.jpg");
    background-size: 50%;
    color: rgba(0, 0, 0, 0.7);
}

#funding-banner .gradient {
    background-image: linear-gradient(
            to right,
            rgba(252, 253, 248, 0.3),
            rgba(252, 253, 248, 1)
    );
}

#about-us-banner {
    background-image: url("media/images/about_us.jpg");
    background-size: 50%;
    color: rgba(255, 255, 255, 0.7);
}

#about-us-banner .gradient {
    background-image: linear-gradient(
            to right,
            rgba(181, 113, 36, 0.3),
            rgba(181, 113, 36, 1)
    );
}

#universities-banner {
    background-image: url("media/images/uni.jpg");
    background-size: 50%;
    color: rgba(255, 255, 255, 0.7);
}

#universities-banner .gradient {
    background-image: linear-gradient(
            to right,
            rgba(67, 53, 46, 0.3),
            rgba(67, 53, 46, 1)
    );
}

#job-search-banner {
    background-image: url("media/images/magnifying_glass.jpg");
    background-size: 40%;
    color: rgba(255, 255, 255, 0.7);
}

#job-search-banner .gradient {
    background-image: linear-gradient(
            to right,
            rgba(18, 29, 52, 0.3),
            rgba(18, 29, 52, 1)
    );
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#testimonials .testimonial {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#testimonials .testimonial img {
    width: 300px;
    height: 300px;
    /*display: block;*/
}

#testimonials .testimonial blockquote {
    font-style: italic;
    font-size: large;
    color: rgba(0, 0, 0, 0.7);
}

#testimonials .testimonial p {
    font-size: large;
    font-weight: bold;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 200px;
    font-size: larger;
}

#resources-list a {
    color: #000000;
}

#resources-list li:nth-child(1),
#resources-list li:nth-child(4),
#resources-list li:nth-child(7) {
    font-size: larger;
    font-weight: bold;
}

#resources-list li:nth-child(2),
#resources-list li:nth-child(5),
#resources-list li:nth-child(8) {
    font-weight: normal;
    text-decoration: underline;
    list-style-type: none;
}

#resources-list li:nth-child(3),
#resources-list li:nth-child(6),
#resources-list li:nth-child(9) {
    font-weight: normal;
    font-style: italic;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.7);
}

#resources-list li:nth-child(3),
#resources-list li:nth-child(6),
#resources-list li:nth-child(9) {
    padding-bottom: 40px;
}

#lmi-links-list a {
    font-weight: normal;
    text-decoration: underline;
    list-style-type: none;
    color: #000000;
}

/*Contact form rules*/
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #80C84C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #49C84C;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 50px 200px;
}

/*These rules apply to the text found in form_confirmation.html*/
#confirm-message {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

#confirm-note {
    font-weight: bold;
}

/*These rules apply to search bars*/
/*They were a massive pain in the arse*/
.search-bar {
    /*margin: 50px 0;*/
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(128, 200, 76, 1);
    font-size: 120%;
    display: flex;
    flex-flow: column;
}

.search-bar div:nth-child(1) * {
    margin: 20px;
}

.search-bar div:nth-child(1) h3 {
    margin: 14px;
    padding-bottom: 0;
}

.search-bar div:nth-child(2) input[type=text] {
    margin: 15px;
    width: 85%;
}

.search-bar div:nth-child(1) p,
.search-bar div:nth-child(2) input[type=text] {
    float: left;
}

.search-bar div:nth-child(1) h3,
.search-bar div:nth-child(2) .search-btn {
    float: right;
}

.search-bar div:nth-child(2) {
    background-color: rgba(96, 167, 65, 1);
    margin-bottom: 20px;
}

.search-bar div:nth-child(2) .search-btn {
    margin: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #C9333D;
}

.result-count-container {
    padding: 50px 100px 0 100px;
    display: flex;
    flex-flow: row;
}

.result-count-container p {
    font-weight: bold;
    font-size: 120%;
}

#uni-link-list,
#job-link-list {
    padding: 0 100px 100px 100px;
}

#uni-link-list div:first-child,
#job-link-list div:first-child {
    border-top: none;
}

#uni-link-list div:last-child,
#job-link-list div:last-child {
    border-bottom: none;
}

.list-entry {
    padding: 25px 0;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.list-entry a {
    color: #20328B;
    text-decoration: underline;
}

.list-entry a:visited {
    color: purple;
    text-decoration: underline;
}